html{
    color:black;
    font-weight:600;
    scroll-behavior:smooth;
}
body {
    margin:0;
}

.header {
    letter-spacing: .02em;
    font-size: 16px;
  }
  
.header ul {
    position: relative;
    left: 0;
    right: 0;
    text-align: right;
    padding-right:3vw;
    padding-left:3vw;
    padding-top:1.9vw;
   
  }
  
.header li {
    display: inline;
    padding: 0.9vw;
}
  
.header li a {
    color: black;
}

.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }
  
@media only screen and (max-width:600px) {
    .banner{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align:center;
    }
}

.portfolio{
    padding-right:3vw;
    padding-left:6vw;
    padding-top:1vw;
}

*{
    box-sizing:border-box;
}

.row .column{
    float:left;
    width:25%;
    padding:5px;
}

@media only screen and (max-width:600px) {
    .row .column{
        float:left;
        width:50%;
        padding:5px;
    }
}

.row::after{
    content:"";
    clear:both;
    display:table;
}

h1{
    color:#011c74;
    font-size:4rem;
    margin-top:0px;
    margin-bottom:-15px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h3{
    font-size:1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.underline{
    text-decoration: underline dotted blue;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:1.2rem;
}

.CVUO{
    margin-top:12rem;
    margin-left:12rem;
    margin-right:12rem;
}

.CVUO-Title{
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:1.5rem;
}

.CVUO-Title::after{
    content:"";
    clear:both;
    display:table;
}

.CVUO-Title-Image{
    margin-top:-20px;
    margin-right:10px;
    float:left;
}


@media only screen and (max-width :600px){
    .CVUO-Team .column{
        float:left;
        width:50%;
        padding:5px;
    }
    .CVUO{
        margin-top:4rem;
        margin-left:3rem;
        margin-right:3rem;
    }
    .CVUO-Title-Image{
        margin-top:-8px;
        margin-right:6px;
        float:left;
    }
    h2{
        font-size:1.6rem;
        font-family: 'Montserrat', sans-serif;
    }
}
@media only screen and (min-width :600px){
    .CVUO-Team .column{
        float:left;
        width:20%;
        padding:5px;
    }

    .CVUO-Team::after{
        content:"";
        clear:both;
        display:table;
    }
}

figcaption{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:0.8rem;
}


